:local .leftcol{
    width:25%;
    height: 100%;
    position:fixed;
    left:0;
    right:0;
    padding-left: 1%;
    padding-right: 1%;
    border-right: 1px solid lightgrey;
    padding-top:64px;
}
:local .leftcol > div{
    margin: 10px 0;
}

:local .rightcol{
    width: 75%;
    position: relative;
    left:25%;
    top:64px;
    padding-left: 2%;
    padding-right: 2%;
    background-color: rgb(247, 247, 247);
}

:local .rightcol .listItem{
    max-width:none;
    min-width:0;
    width: 30%;
    height:auto;
}

:local .rightcol .listItem .image{
    background-size:cover;
}

:local .resultStats{
    text-align:right;
}

@media (max-width:768px){
    :local .leftcol{
        width:100%;
        position:static;
        height:auto;
        border-right:none;
        border-bottom: 1px solid lightgrey;
    }
    :local .rightcol{
        width:100%;
        position: static;
    }
    
}