:local .ListingInfoPanel {
  width: 30%;
  height: 35vh;
  border: 1px solid lightgrey;
  padding: 2%;
  margin: 5vmin;
  text-align: left;
  position: sticky;
  top: 96px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:local .ListingInfoPanel h2{
  margin-top: 1%;
  margin-bottom: 3.5%;
  font-size: 16px;
  font-weight: 400;
  color:black;
}

:local .ListingInfoPanel p{
  margin-top: 1%;
  margin-bottom: 1%;
  font-size:12px;
}
:local .price{
  font-size: 24px;
  padding-right: 2%;
}

:local .listingActionItems{
  margin-top: 3.5%;
}

:local .button{
  margin-bottom: 0px;
    font-size: 16px;
    border-radius: 4px;
    margin-top: 5%;
    padding: 4%;
    text-align: center;
    font-weight: 500;
    background-color: #e6b980;
    color: white;
}

:local .listingActionItems a:link{
  text-decoration: none;
  color:white;
}
:local .listingActionItems a:visited{
  color:white;
}
:local .listingActionItems a:hover{
  color:white;
}